<html>
<head>
    {% block css %}
    <link rel="stylesheet" href="static/css/id.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="static/css/framework.css" type="text/css"
        media="screen" />
        <link rel="stylesheet" href="static/css/language.css" type="text/css" media="screen" />
    {% endblock css %}
</head>
<body>
<div id="main-wrapper">

    {% block main %}
    {% endblock main %}
</div>
</body>
</html>
