{% extends "base.html" %}

{% block css %}
{{ block.super }}

<style>
#map{ text-align:center; width:"100%";  padding: 50px 0;}

#puebloname{position: relative;bottom: 50px;right: 80px;font-size: 72px;text-align: right;opacity: 0.25;margin: 0;}
</style>
{% endblock css %}
{% block main %}


{% include "pages/header.html" %}
{% include "pages/pagetitle.html" %}

<br />

<section id="content">
<div class="row">

    <h1>&nbsp;<br />{{ indicatorName }}</h1>


    <div id="map"></div>

    <p id="puebloname">&nbsp;</p>

    <h1>Interactive Reports: </h1>
    <a href="/joven">Educaci&#243;n obtenida en el grupo de 25 a&#241;os en adelante 2011 (%)</a>


    <!--Dropdown of Indicators-->
    <form method="get" action="/search/">
        <div class="seldir">
            <label> Estadísticas de la educación </label>

            <select name="indicators" >
                <option value="58">-- Indicator --</option>
                {% for c in indicators %}
                {% if c.category_id == "4" %}
                    <option value="{{ c.id }}">{{ c.indicator }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="ver" />
        </div>
    </form>
    <p>&nbsp;</p>
</div>

{% if valuesfordisplay %}
<div class="row">
<h1>{{ indicatorName }}</h1>
<table><tr>
    <td>
        Sorted By County Name: <br>
<table id="myTable" border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
       <td width="200">county</td>
       <td width="100">value</td></tr>
   </thead>
    <tbody>
    {% for v in valuesfordisplay %}
    <tr id="{{ v.county_id }}">
       <td>{{ v.county }}</td>
       <td>{{ v.value }}</td>
    </tr>

   {% endfor %}
   </tbody>
</table>
</td><td width="20">&nbsp;</td><td>
Sorted By Value: <br>
<table id="myTable" border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
       <td width="200">county</td>
       <td width="100">value</td></tr>
   </thead>
    <tbody>
    {% for k,v in sorted %}
    <tr id="{{ k }}">
       <td>{{ k }}</td>
       <td>{{ v }}</td>
    </tr>

   {% endfor %}
   </tbody>
</table>
</td></tr>
</table>
<script type='text/javascript'>

  // change the argument to match your id
 var node = document.getElementById("map");

 d3.json("/static/js/munidata.json", function(data){
   var pop_datamap = {};
   //use FIPS code as key
    data.forEach(function(pueblo){
      //get id of pueblo with leading 0s.
      var fips_3digits = pueblo.fips.length == 1 ? ("00" + pueblo.fips) :
        (pueblo.fips.length == 2 ? ("0" + pueblo.fips) : pueblo.fips);
     pop_datamap[fips_3digits] = pueblo.population;
   });

    var hover = function hover(info, path){
        d3.select("#puebloname").text(info.properties.NAME);
        //d3.select(path).style("fill", "#EEEEEE");
    };

   var pop_map = new AtlasPR({node: node, size: "custom1", tiles: 'pueblos',
    labels: true,
    on_ready: function(){
        // paint after drawing async.
        pop_map.encode_quan(pop_datamap);
    }, events: {on_mouseover: hover}
    });

 });


  </script>

{% else %}

  <script type='text/javascript'>
    var node = document.getElementById("map");

    var hover = function hover(info, path){
        d3.select("#puebloname").text(info.properties.NAME);
    };

    new AtlasPR({
        node: node, tiles: ['pueblos'], size: "custom1",
        events: {on_mouseover: hover}
    });

    function transform(attrName) {
    }
  </script>

{% endif %}
</div>
</section>

{% include "pages/footer.html" %}

{% endblock main %}
