{% extends "base.html" %}

{% block css %}
{{ block.super }}

<style>
#map{ text-align:center; width:"100%";  padding: 50px 0;}

#puebloname{position: relative;bottom: 50px;right: 80px;font-size: 72px;text-align: right;opacity: 0.25;margin: 0;}
</style>
{% endblock css %}
{% block main %}


{% include "pages/header.html" %}
{% include "pages/pagetitle.html" %}

<br />

<section id="content">
    <div class="row">

        <h1 id="sectiontitle">&nbsp;<br />{{ indicatorName }}</h1>


        <div id="map"></div>

        <p id="puebloname">&nbsp;</p>

        <h1>Interactive Reports: </h1>
        <a href="/joven">Educaci&#243;n obtenida en el grupo de 25 a&#241;os en adelante 2011 (%)</a><br/><br />

        <a href="/enrollment">School Enrollment (%)</a><br/><br />

        <!--a href="/college">College Enrollment (%)</a><br/><br /-->

        <a href="/workforce">Workforce education metrics(%)</a><br/><br />


        <!--Dropdown of Indicators-->
        <!--form method="get" action="/search/">
            <div class="seldir">
                <label> Estadísticas de la educación </label>

                <select name="indicators" >
                    <option value="58">-- Indicator --</option>
                    {% for c in indicators %}
                    {% if c.category_id == "4" %}
                        <option value="{{ c.id }}">{{ c.indicator }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="ver" />
            </div>
        </form>
        <p>&nbsp;</p-->
    </div>

<div class="row">
{% if valuesfordisplay %}

    <h1>{{ indicatorName }}</h1>

    Sorted By County Name: <br>

    <table id="myTable" border="1" cellpadding="5" cellspacing="0">
        {% for row in valuesfordisplay %}
        <tr>
            {% for col in row %}
           <td>{{ col }}</td>
        {% endfor %}
        </tr>
       {% endfor %}
    </table>
</div>

</section>

<script type='text/javascript'>

    {% autoescape off %}
    //var obj = jQuery.parseJSON('{{ jsondata }}');
    {% endautoescape %}

  var data = [4, 8, 15, 16, 23, 42];

  var chart = d3.select("body").append("svg")
                .attr("class", "chart")
                .attr("width", 420)
                .attr("height", 140);
                .append("g") /* Add Labels */
                .attr("transform", "translate(10,15)");

  var x = d3.scale.linear()
         .domain([0, d3.max(data)])
         .range([0, 420]);

  var y = d3.scale.ordinal()
     .domain(data)
     .rangeBands([0, 120]);

  chart.selectAll("rect")
     .data(data)
   .enter().append("rect")
     .attr("y", function(d, i) { return i * 20; })
     .attr("width", x)
     .attr("height", y.rangeBand());

 chart.selectAll("text")
     .data(data)
   .enter().append("text")
     .attr("x", x)
     .attr("y", function(d) { return y(d) + y.rangeBand() / 2; })
     .attr("dx", -3) // padding-right
     .attr("dy", ".35em") // vertical-align: middle
     .attr("text-anchor", "end") // text-align: right
     .text(String);

  /* X notches */
  chart.selectAll("line")
     .data(x.ticks(10))
   .enter().append("line")
     .attr("x1", x)
     .attr("x2", x)
     .attr("y1", 0)
     .attr("y2", 120)
     .style("stroke", "#ccc");

  /* Numbers for notches on x */
  chart.selectAll(".rule")
     .data(x.ticks(10))
   .enter().append("text")
     .attr("class", "rule")
     .attr("x", x)
     .attr("y", 0)
     .attr("dy", -3)
     .attr("text-anchor", "middle")
     .text(String);

  /* Y Axis Line */
  chart.append("line")
     .attr("y1", 0)
     .attr("y2", 120)
     .style("stroke", "#000");


  // change the argument to match your id
 var node = document.getElementById("map");

 d3.json("/static/js/munidata.json", function(data){
   var pop_datamap = {};
   //use FIPS code as key
    data.forEach(function(pueblo){
      //get id of pueblo with leading 0s.
      var fips_3digits = pueblo.fips.length == 1 ? ("00" + pueblo.fips) :
        (pueblo.fips.length == 2 ? ("0" + pueblo.fips) : pueblo.fips);
     pop_datamap[fips_3digits] = pueblo.population;
   });

    var hover = function hover(info, path){
        d3.select("#puebloname").text(info.properties.NAME);
        //d3.select(path).style("fill", "#EEEEEE");
    };

   var pop_map = new AtlasPR({node: node, size: "custom1", tiles: 'pueblos',
    labels: true,
    on_ready: function(){
        // paint after drawing async.
        pop_map.encode_quan(pop_datamap);
    }, events: {on_mouseover: hover}
    });

 });


  </script>

{% else %}

  <script type='text/javascript'>
    var node = document.getElementById("map");

    var hover = function hover(info, path){
        d3.select("#puebloname").text(info.properties.NAME);
    };

    new AtlasPR({
        node: node, tiles: ['pueblos'], size: "custom1",
        events: {on_mouseover: hover}
    });

    $("#sectiontitle").append("<h1>Counties of Puerto Rico</h1>");
    d3.select("#sectiontitle").style("padding-top", "20px");

    function transform(attrName) {
    }


  </script>

{% endif %}


{% include "pages/footer.html" %}

{% endblock main %}
