{% extends "base.html" %}

{% block css %}
{{ block.super }}
<style type="text/css">
.info {width:320px; vertical-align:text-top; height:500px;}
    #chart { height:450px;}
    .xlabel{font-weight: bold;}

.b {width:550px; height:500px; padding-left:40px;}
    #map{margin-top:70px;}



#puebloname{position: relative; bottom:250px;right: 100px;font-size: 72px;text-align: right; opacity: 0.25;margin: 0;}
</style>

  <link href="/static/js/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
  <script src="/static/js/nvd3/nv.d3.min.js"></script>
  <script type="text/javascript" src="/static/js/nvd3/utils.js"></script>
  <script src="/static/js/nvd3/tooltip.js"></script>
  <script src="/static/js/nvd3/utils.js"></script>
  <script src="/static/js/nvd3/models/axis.js"></script>
  <script src="/static/js/nvd3/models/discreteBar.js"></script>
  <script src="/static/js/nvd3/models/discreteBarChart.js"></script>

{% endblock css %}

{% block main %}


{% include "pages/header.html" %}
{% include "pages/pagetitle.html" %}

<section>
<div class="row">
    <h1> &nbsp; </h1>

    <h1 id="name"></h1>
    <p>Educaci&#243;n obtenida en el grupo de 25 a&#241;os en adelante 2011 (%)</p>
    <table width="100%" border="0">
        <tr>
            <td class="info" align="center">
                <div id="chart"><svg></svg></div>
            </td>
            <td class="b" >
                <p>Haz click, el nombre del municipio y las estadísticas aparecer&#225;n a la izquierda.</p>
                <div id="map"></div>
                <p id="puebloname">San Juan</p>
            </td>
        </tr>
    </table>
</div>
</section>
<script>
function bunny(x){
    nv.addGraph(function() {
      var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .staggerLabels(true)
          .tooltips(false)
          .showValues(true)
            .height(400)
          .forceY([0,40]);

      d3.select('#chart svg')
          .datum(x)
        .transition().duration(250)
          .call(chart);

      //Add Label
      d3.select('#chart svg')
      .append("text")
      .attr("class", "xlabel")
      .attr("text-anchor", "end")
      .attr("x", "230")
      .attr("y", "400")
      .text("Grade Level");

        nv.utils.windowResize(chart.update);

      return chart;
    });
}



$.getJSON('/static/js/edu.json', function(response){
  // response is a variable containing the JSON object, if it fetched it successfully
    $("#name").html("<b>Estadísticas Interactivos por pueblos de San Juan</b>");
    bunny(response["San Juan"]);
    current = null;
    last = null;
    my_node = document.getElementById("map");

    var hover = function hover(info, path){
        d3.select("#puebloname").text(info.properties.NAME);
    };

    var click = function click(object, id){
        $("#name").html("<b>Estadísticas Interactivos por pueblos de "+object.properties.NAME+"</b>");

        //coloring only selected region
        d3.selectAll("svg").selectAll("path").style("fill", "white");
        d3.select(id).style("fill", "red");
        bunny(response[object.properties.NAME]);
        };

    new AtlasPR({node: my_node, size:"small", tiles: "pueblos",
        events : {
            on_click: click,
            on_mouseover: hover
        }
    });
});
</script>


{% include "pages/footer.html" %}

{% endblock main %}
