{% block header %} <!-- header start here -->
<header>
    <div id="top_wrapper">
        <div class="row">
            <div class="four column logo">
                <a href="/"><img src="/static/images/logo.png" alt="Logo"></a>
            </div>
            <div class="eight column top_search">
                Estadísticas Interactivas
            </div>
        </div>
    </div>
    <div id="mainmenu_wrapper">
        <!-- mainmenu start here -->
        <nav id="mainmenu">
            <ul id="menu" class="l_tinynav1 sf-js-enabled sf-shadow">
                <li id="menu-item-2409" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2335 current_page_item menu-item-2409">
                    <a href="/">Home</a>
                </li>
                <li id="menu-item-2343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2343">
                    <a href="/">Browse API</a>
                </li>
                <li id="menu-item-2407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2407">
                    <a href="/joven" class="sf-with-ul">Education Report</a>
                    <ul class="sub-menu" style="display: none; visibility: hidden;">
                        <li id="menu-item-2489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2489">
                            <a href="http://pixelogic.co/c/bgc/www/en/organizations/">Organizations</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-2488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2488">
                    <a href="/">Enrollment Report</a>
                </li>
                <li id="menu-item-2431" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2431">
                    <a href="/">Workforce Report</a>
                </li>
                <li id="menu-item-2344" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2344">
                    <a href="/">About</a>
                </li>
            </ul>
        </nav><!-- mainmenu end here -->
    </div>
</header><!-- header end here -->
{% endblock header %}
