{% block header %} <!-- header start here -->
<header>
    <div id="top_wrapper">
        <div class="row">
            <div class="four column logo">
                <a href="/">Estadísticas Interactivas</a>
            </div>
            <div class="eight column top_search">

            </div>
        </div>
    </div>
    <div id="mainmenu_wrapper">
        <!-- mainmenu start here -->
        <nav id="mainmenu">
            <ul id="menu" class="l_tinynav1 sf-js-enabled sf-shadow">
                <li id="menu-item-2409" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2335 current_page_item menu-item-2409">
                    <a href="/">Home</a>
                </li>
                <li id="menu-item-2343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2343">
                    <a href="/browse">Data</a>
                </li>
                <li id="menu-item-2407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2407">
                    <a href="" class="sf-with-ul">Infografics</a>
                    <ul class="sub-menu" style="display: none; visibility: hidden;">
                        <li id="menu-item-2489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2489">
                            <a href="/">Educuation</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-2488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2488">
                    <a href="/">Maps</a>
                    <ul class="sub-menu" style="display: none; visibility: hidden;">
                        <li id="menu-item-2489" class="menu-item menu-item-type
                        -post_type menu-item-object-page menu-item-2489">
                            <a href="/">Educuation</a>
                        </li>
                        <li id="menu-item-2489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2489">
                            <a href="/">Workforce</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-2489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2489">
                    <a href="/">About</a>
                </li>
            </ul>
        </nav><!-- mainmenu end here -->
    </div>
</header><!-- header end here -->
{% endblock header %}
